@import 'colors';
@import 'settings';

@import 'src/components/presentationComponents/card/card';
@import 'controls';
@import 'buttons';

body {
  margin: 0;
  font-family: $body-font-family;
  #demo-container {
    padding: 1rem;
  }
}
