$card-spacing: 1rem;

@mixin card-base(
  $card-color: $light-gray,
) {
  border: 1px solid $card-color;
}

@mixin card-header(
  $card-color: $light-gray,
) {
  padding: $card-spacing;
  background: $card-color;
  color: color-pick-contrast($card-color, $colors);
  font-weight: bold;
  font-size: 24px;
}

@mixin card-body(
  $card-color: $light-gray,
) {
  padding: $card-spacing;
  .member-name {
    padding-bottom: $card-spacing;
    border-bottom: 2px solid lighten-or-darken($card-color, 20);
  }
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    tr {
      &:nth-child(odd) {
        background: lighten-or-darken($card-color, 25);
        color: color-pick-contrast(lighten-or-darken($card-color, 25));
      }
      td {
        padding: $card-spacing;
      }
    }
  }
}


.card {
  @include card-base();

  .card-header {
    @include card-header()
  }

  .card-body {
    @include card-body()
  }

  @each $name, $hex in $palette {
    &.#{$name} {
      @include card-base($hex);

      .card-header {
        @include card-header($hex)
      }

      .card-body {
        @include card-body($hex)
      }
    }
  }
}
