@font-face {
  font-family: 'archiv';
  src: url('../font/ArchivGrotesk.otf');
}

$palette: (
        app-yellow: #F7BD58,
        app-purple: #8e64f9,
        app-blue: #64a7f9,
        app-pink: #f964cf,
        app-green: #64f9b6,
        app-red: #D21D25,
        app-black: #302B32,
        app-beige: #E2CBA9,
        app-white: #fff8ed,
);
$colors: map_values($palette);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$body-background: get-color(app-white);
$body-font-color: get-color(app-black);
$body-font-family: 'archiv', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
